<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/Base::layout(~{::section})}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard</title>
  </head>
  <body>
	  <section>
		
		<div class="card" style="margin-right: 1rem;margin-left: 1rem;">

            <div class="card-body">

                <h1 class="text-center"><i class="fa-solid fa-user-plus"></i>&nbsp;Add Contacts</h1>

                <div class="container-fluid mt-1">

                    <div class="row">
                        <div class="col-md-9 offset-md-1">
                            <form action="#"
                            th:object="${contact}"
                            enctype="multipart/form-data"
                            method="post"
                            th:action="@{/user/process-contact}"
                            class="mt-2">

                            <!-- first name -->
                            <div class="input-group">

                                <div class="input-group-prepend mb-2">

                                    <div class="input-group-text mr-3" >

                                        <i class="fa fa-plus"></i>

                                    </div>

                                </div>
                                <input type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control" required/>

                            </div>
                            <!--nick name-->
                            <div class="input-group mt-2">

                                <div class="input-group-prepend">

                                    <div class="input-group-text mr-3">

                                        <i class="fas fa-user-alt"></i>

                                    </div>

                                </div>
                                <input type="text" id="nickName" name="nickname" placeholder="Enter Nick-Name here" class="form-control" required/>

                            </div>
                            <!--phone number-->
                            <div class="input-group mt-2">

                                <div class="input-group-prepend">

                                    <div class="input-group-text mr-3">

                                        <i class="fa fa-phone"></i>

                                    </div>

                                </div>
                                <input type="tel" id="phone" name="phone" placeholder="Enter Phone number" pattern="[1-9]{1}[0-9]{9}" class="form-control" required/>

                            </div>
                            <!--email-->
                            <div class="input-group mt-2">

                                <div class="input-group-prepend">

                                    <div class="input-group-text mr-3">

                                        <i class="fa-solid fa-envelope"></i>

                                    </div>

                                </div>
                                <input type="email" id="email" name="email" placeholder="Enter Email here" class="form-control" required/>

                            </div>
                            
                            <!--work-->
							<div class="input-group mt-2">

                                <div class="input-group-prepend">

                                    <div class="input-group-text mr-3">

                                        <i class="fa fa-briefcase"></i>

                                    </div>

                                </div>
                                <input type="text" id="work" name="work" placeholder="Enter Work here" class="form-control" required/>

                            </div>
                            
                            <!--Contact description-->
                            <div class="form-group mt-3">
								<textarea name="description" id="mytextarea" class="form-control" placeholder="Enter your Description" cols="30" rows="15" required></textarea>
							</div>
							
							<!--image-->
							<div class="custom-file mt-1">
								<input type="file" name="profileImage"/>
							</div>
							<!--button-->
							<div class="container text-center">
								<button class="btn btn-outline-primary">Save Contact</button>
							</div>
							
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
		
		
		<!--<script src="https://cdn.tiny.cloud/1/abcd1234/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>-->
    <script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#add").addClass("active");
			});
		</script>
	</section>
  </body>
</html>